doctype 5
html
  title Twittagra.-
  head
    link(rel='stylesheet', href='/stylesheets/normalize.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='socket.io/socket.io.js')
  body
    header
      h1 #{title} - "Levantando" un app de twitter ;)

      if user
        div#usuarios
          div#prompt Usuario: 
          div#fotoUsername
            div#pic 
              img(src= user['usuario']._json.profile_image_url)
            div#holder
              div#cant @#{user['usuario'].username} 
              div#logout
                a(href='/logout',id='lgo') Logout
      else
        div#usuarios
          div#prompt No se ha logeado.
    block content
    footer "Twittagra - UCertificate 2012 - Andrea Barrios, Gabriel Salas"